section#about
  .container
    .row
      / .col-md-8.wow.animated.fadeInLeft
      /   .recent-works
      /     h3
      /       =t("views.development_team.dt_title")
      /       span.recent-works-title-subtitle
      /         br
      /           =t("views.development_team.dt_details")
      /     #works
      /       .work-item
      /         .row.recent-work-mb-5
      /           .col-md-3.col-sm-3.col-xs-3
      /             = image_tag asset_path('portfolio/umair280.jpg'), class: 'img img-thumbnail ', alt: "member"
      /             h5.recent-works-title
      /               |Umair Liaqat
      /             p
      /               =t("views.development_team.dt_cofounder")
      /             p
      /               =t("views.development_team.dt_ror_developer")
      /           .col-md-3.col-sm-3.col-xs-3
      /             = image_tag asset_path('portfolio/user_default.png'), class: 'img image_default img-thumbnail ', alt: "member"
      /             h5.recent-works-title
      /               |Gerhard*
      /             p
      /               |Partner
      /               |,
      /               =t("views.development_team.dt_ror_developer")
      /           .col-md-3.col-sm-3.col-xs-3
      /             = image_tag asset_path('portfolio/adeel.jpg'), class: 'img img-thumbnail ', alt: "member"
      /             h5.recent-works-title
      /               |Adeel Anwar
      /             p
      /               |Partner
      /               |,
      /               =t("views.development_team.dt_ror_developer")
      /
      /           .col-md-3.col-sm-3.col-xs-3
      /             = image_tag asset_path('portfolio/tanveer.jpg'), class: 'img img-thumbnail ', alt: "member"
      /             h5.recent-works-title
      /               |Tanveer Kayani
      /             p
      /               |Designer
      /
      /       .work-item
      /         .row.recent-work-mb-5
      /           .col-md-3.col-sm-3.col-xs-3
      /             = image_tag asset_path('portfolio/user_default.png'), class: 'img image_default img-thumbnail ', alt: "member"
      /             h5.recent-works-title
      /               |Naveed Ahmed
      /             p
      /               = t("views.development_team.dt_game_developer")
      /           .col-md-3.col-sm-3.col-xs-3
      /             = image_tag asset_path('portfolio/kamran.jpg'), class: 'img img-thumbnail ', alt: "member"
      /             h5.recent-works-title
      /               |Kamran Khalild
      /             p
      /               =t("views.development_team.dt_ror_developer")
      /           .col-md-3.col-sm-3.col-xs-3
      /             = image_tag asset_path('portfolio/ishtiaq.jpg'), class: 'img img-thumbnail ', alt: "member"
      /             h5.recent-works-title
      /               |Ishtiaq
      /             p
      /               =t("views.development_team.dt_android_developer")
      /           .col-md-3.col-sm-3.col-xs-3
      /             = image_tag asset_path('portfolio/mashood.jpg'), class: 'img img-thumbnail ', alt: "member"
      /             h5.recent-works-title
      /               |Mashhood Ahmad
      /             p
      /               =t("views.development_team.dt_ror_developer")
      /
      /       .work-item
      /         .row.recent-work-mb-5
      /           .col-md-3.col-sm-3.col-xs-3
      /             = image_tag asset_path('portfolio/sabtain.jpg'), class: 'img img-thumbnail ', alt: "member"
      /             h5.recent-works-title
      /               |Sabtain Mirza
      /             p
      /               = t("views.development_team.dt_ror_developer")
      /           .col-md-3.col-sm-3.col-xs-3
      /             = image_tag asset_path('portfolio/farooq.jpg'), class: 'img img-thumbnail ', alt: "member"
      /             h5.recent-works-title
      /               |Farooq Ch
      /             p
      /               =t("views.development_team.dt_ror_developer")


      .col-md-12.wow.animated.fadeInRight
        .margin-div
        .welcome-block
          h3 =t("views.about.about_us")
          .message-body
            / =link_to "https://www.linkedin.com/in/shafiq-rehman-1715bb108" do
            /   figure.pull-left
            /     =image_tag "ceo.jpg",class: 'img',title: 'CEO & Security Expert for Cyber-Physical Systems/Internet-of-Things',alt: "ceo"
            /     figcaption
            /       h6
            /         |CEO Shafiq ur Rehman

            p
              |ABSM Accounting is one of the best leading companies in Pakistan that provides
                unmatchable accounting, auditing and taxation services. With our head office based
                in Lahore, we welcome every Pakistani citizen no matter which country he belongs
                to, to use our services and get out of the loopholes he’s stuck in.
                Speaking of which, there’s absolutely no doubt in the fact that taxation is a big deal
                in Pakistan. Right now, all the people, small business owners and even the tycoons
                are finding it difficult to cope with the taxation laws and rules of Pakistan. But don’t
                worry because with ABSM Accounting, you won’t have to worry about anything.
                Our services are one of a kind and we’ve served hundreds and thousands of people
                till date without compromising on our quality of services. We are here to take care of
                all the businesses and all the individuals with our uncompetable accounting and

                auditing services.

                Whether you want us to prepare your returns, plan a tax strategy or create an LLC,
                we’ll do it all for you and we’ll cover you in the best possible and the most secure

                possible way.
          / a.btn.btn-border.btn-effect.pull-right href="#"  Read More
          /! end about section