.card
  .card-c[style="background-image: url(#{url_for client_feedback.image.variant(combine_options: { resize: '600>', background: 'black', gravity: 'center'})})"]
  .text-t-card
    h1
      = client_feedback.name
    p
      = client_feedback.description