.sec-title.text-center.wow.animated.fadeInDown
  h2 =t("views.contact.ctc_title")
  p =t("views.contact.ctc_details")
.col-md-7.contact-form.wow.animated.fadeInLeft
  =form_with model: @contact,id: :contact_form do |f|
    .input-field
      =f.text_field :name, placeholder: t("views.contact.ctc_f_p_name"),presence: true,required: true,class: 'form-control', :id => "user-name"
    .input-field
      =f.email_field :email, placeholder: t("views.contact.ctc_f_p_email"),presence: true,required: true,class: 'form-control', :id => "user-email"
    .input-field
      =f.text_field :subject, placeholder: t("views.contact.ctc_f_p_subject"),class: 'form-control', maxlength: 50,:id => "user-subject"
    .input-field
      =f.text_area :message, placeholder: t("views.contact.ctc_f_p_message"),presence: true,required: true,class: 'form-control', :id => "user-message"
    =f.submit 'Send',class: 'btn btn-blue btn-effect',id: 'submit'