section#contact data-recommend=""
  .container
    .row
      .col-md-6.wow.animated.fadeInRight
        address.contact-details
          h3 Pakistan
          p
            =link_to "https://wa.me/923074363626" do
              i.fa.fa-phone
              | what's app: (+92) 307 4363626
          p
            i.fa.fa-envelope
            = t('views.site_email')
          br
          p
            i.fa.fa-pencil
            = t('views.site_name')
            span Iqra St
            span Block Q Model Town
            span Lahore, Punjab
            span Pakistan
      .col-sm-6#google-map
        #map-canvas.wow.animated.fadeInUp
        script async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmQEKskSRXjunZQ_HcntmGX5Kf2nnqqGw&callback=initMap"
        / .row
          / .col-sm-9
          / =render partial: 'components/google_map'
          /   address.contact-details
          /     h3 Germany
          /     p
          /       i.fa.fa-pencil
          /       = t('views.site_name')
          /       span Germany – Deutschland
          /       span Serlos strasse 10
          /       span 45143 Essen
          /       span Deutschland
          /     br
          /     p
          /       i.fa.fa-phone
          /       | Phone: (+49) 151-71086963
          /     p
          /       i.fa.fa-envelope
          /       = t('views.site_email')

            /! end Contact section
