footer#footer
  .container
    .row.text-center
      .footer-content
        / .wow.animated.fadeInDown
        /   p newsletter signup
        /   p Get Cool Stuff! We hate spam!
        / form.subscribe-form.wow.animated.fadeInUp action="#" method="post"
        /   .input-field
        /     input.subscribe.form-control placeholder=("Enter Your Email...") type="email" /
        /     button.submit-icon type="submit"
        /       i.fa.fa-paper-plane.fa-lg
        / .footer-social
        /   ul
            / li.wow.animated.zoomIn
            /   a href="#"
            /     i.fa.fa-thumbs-up.fa-3x
            / li.wow.animated.zoomIn data-wow-delay="0.3s"
            /   a href="https://www.linkedin.com/company/smartgentechnik"
            /     i.fa.fa-linkedin.fa-3x
            / li.wow.animated.zoomIn data-wow-delay="0.6s"
            /   a href="#"
            /     i.fa.fa-skype.fa-3x
            / li.wow.animated.zoomIn data-wow-delay="0.9s"
            /   a href="#"
            /     i.fa.fa-dribbble.fa-3x
            / li.wow.animated.zoomIn data-wow-delay="1.2s"
            /   a href="#"
            /     i.fa.fa-youtube.fa-3x
        / p
        /   = t("views.footer.copyissues")
        p
          =t("views.footer.rights")
          |&nbsp;
          a data-turbolinks="false" href="#{root_path}" absmaccounting
        p.hide
          =t("views.footer.nda")
        p.hide
          | Copyright © 2014-2015 Design and Developed By
          a href="http://www.themefisher.com"  Themefisher