header#navigation.navbar-inverse.navbar-fixed-top.animated-header
  .container
    .navbar-header
      /! responsive nav button
      button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      /! /responsive nav button
      /! logo
      h1.navbar-brand
        =link_to 'http://absmaccounting.com/' do
          = image_tag asset_path('logo/absm_logo.png'), class: 'img img-thumbnail logo ', alt: "member"

    /! /logo
    /! main nav
    nav.collapse.navbar-collapse.navbar-right.js-page-init role="navigation"
      ul#nav.nav.navbar-nav.margin-adjustment
        li
          a href="#{root_path}#introduction" target = "blank" =t("views.header.home")
        li
          a href="#{root_path}#service" = t("views.header.service")
        / li
        /   a.disabled href="#{root_path}#portfolio" = t("views.header.portfolio")
        li
          a href="#{root_path}#client" = t("views.header.testimonial")
        li
          a href="#{root_path}#contact" = t("views.header.contact")
        / li
          / a#blog href="#{posts_path}" Blog
        / li
        /   -if I18n.locale == :en
        /     =link_to "Language: German",url_for(:locale => :de), id: 'german_language'
        /   -else
        /     =link_to "Language: English", url_for(:locale => :en), id: 'english_language'
javascript:
 $('#blog').on('click',function(){
     var w = window.open('/posts');
 });
 // $('#english_language').on('click', function () {
 //     var w = window.location.replace(this.href);
 // });
 // $('#german_language').on('click', function () {
 //     var w = window.location.replace(this.href);
 // });
 $(".js-page-init li").on("click", "a", function () {
     if (window.location.href.indexOf("posts") > -1) {
         var w = window.location.replace(this.href);
     }
 });