/! portfolio section
section#portfolio
  .container
    .row
      .sec-title.text-center.wow.animated.fadeInDown
        h2 FEATURED PROJECTS
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      ul.project-wrapper.wow.animated.fadeInUp
        li.portfolio-item
          img.img-responsive alt=("Lorem ipsum dolor sit amet), consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat" src="img/portfolio/item.jpg" /
          figcaption.mask
            h3 Wall street
            p Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.
          ul.external
            li
              a.fancybox data-fancybox-group="works" href="img/portfolio/item.jpg" title=("Araund The world")
                i.fa.fa-search
            li
              a href=""
                i.fa.fa-link
        li.portfolio-item
          img.img-responsive alt=("Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ") src="img/portfolio/item2.jpg" /
          figcaption.mask
            h3 Wall street
            p Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.
          ul.external
            li
              a.fancybox data-fancybox-group="works" href="img/slider/banner.jpg" title=("Wall street")
                i.fa.fa-search
            li
              a href=""
                i.fa.fa-link
        li.portfolio-item
          img.img-responsive alt=("Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ") src="img/portfolio/item3.jpg" /
          figcaption.mask
            h3 Wall street
            p Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.
          ul.external
            li
              a.fancybox data-fancybox-group="works" href="img/portfolio/item3.jpg" title=("Behind The world")
                i.fa.fa-search
            li
              a href=""
                i.fa.fa-link
        li.portfolio-item
          img.img-responsive alt=("Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.") src="img/portfolio/item4.jpg" /
          figcaption.mask
            h3 Wall street
            p Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.
          ul.external
            li
              a.fancybox data-fancybox-group="works" href="img/portfolio/item4.jpg" title=("Wall street 4")
                i.fa.fa-search
            li
              a href=""
                i.fa.fa-link
        li.portfolio-item
          img.img-responsive alt=("Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ") src="img/portfolio/item5.jpg" /
          figcaption.mask
            h3 Wall street
            p Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.
          ul.external
            li
              a.fancybox data-fancybox-group="works" href="img/portfolio/item5.jpg" title=("Wall street 5")
                i.fa.fa-search
            li
              a href=""
                i.fa.fa-link
        li.portfolio-item
          img.img-responsive alt=("Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ") src="img/portfolio/item6.jpg" /
          figcaption.mask
            h3 Wall street
            p Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.
          ul.external
            li
              a.fancybox data-fancybox-group="works" href="img/portfolio/item6.jpg" title=("Wall street 6")
                i.fa.fa-search
            li
              a href=""
                i.fa.fa-link
                /! end portfolio section
