/! portfolio section
section#portfolio
  .container
    .row
      .sec-title.text-center.wow.animated.fadeInDown
        h3
          |&nbsp;
        p =t("views.about.recent_work")
      ul.project-wrapper.wow.animated.fadeInUp
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/blue.png')}"
            .text-overlay
              h3 INCOME TAX
              / h3 Tax Preparation And Accounting Services
          .card
            .card-body
          figcaption.mask
            h3 TAX CONSULTANCY
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/gray.png')}"
            .text-overlay
              h3 SALE TAX
              / h3 Tax Preparation And Accounting Services
          .card
            .card-body
          figcaption.mask
            h3 TAX CONSULTANCY
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/gray.png')}"
            .text-overlay
              h3 PROFESSIONAL TAX
              / h3 Tax Preparation And Accounting Services
          .card
            .card-body
          figcaption.mask
            h3 TAX CONSULTANCY
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/gray.png')}"
            .text-overlay
              h3 CUSTOM
              / h3 Tax Preparation And Accounting Services
          .card
            .card-body
          figcaption.mask
            h3 TAX CONSULTANCY
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/gray.png')}"
            .text-overlay
              h3 BOOK KEEPING
          / h3 Tax Preparation And Accounting Services
          .card
            .card-body
          figcaption.mask
            h3 CORPORATE ACCOUNTING
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/gray.png')}"
            .text-overlay
              h3 PREPARATION OF FINANCIAL STATEMENTS
          / h3 CORPORATE ACCOUNTING
          .card
            .card-body
          figcaption.mask
            h3 CORPORATE ACCOUNTING
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/gray.png')}"
            .text-overlay
              h3 ERP SOLUTIONS
          / h3 CORPORATE ACCOUNTING
          .card
            .card-body
          figcaption.mask
            h3 CORPORATE ACCOUNTING
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/gray.png')}"
            .text-overlay
              h3 COMPANY FORMATION, INCORPORATION & REGISTRATION
          / h3 CORPORATE ACCOUNTING
          .card
            .card-body
          figcaption.mask
            h3 BUSINESS FORMATION & REGISTRATION
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/gray.png')}"
            .text-overlay
              h3 PARTNERSHIP/ FIRM / FORM C REGISTRATION
          / h3 CORPORATE ACCOUNTING
          .card
            .card-body
          figcaption.mask
            h3 BUSINESS FORMATION & REGISTRATION
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/gray.png')}"
            .text-overlay
              h3 SOLE PROPRIETORSHIP REGISTRATION
          / h3 CORPORATE ACCOUNTING
          .card
            .card-body
          figcaption.mask
            h3 BUSINESS FORMATION & REGISTRATION
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/gray.png')}"
            .text-overlay
              h3 TRADEMARKS, COPYRIGHTS, DESIGNS & PATENTS
          / h3 CORPORATE ACCOUNTING
          .card
            .card-body
          figcaption.mask
            h3 BUSINESS FORMATION & REGISTRATION
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/gray.png')}"
            .text-overlay
              h3 INTERNAL AUDIT
          / h3 CORPORATE ACCOUNTING
          .card
            .card-body
          figcaption.mask
            h3 AUDIT
        li.portfolio-item
          img.img-responsive alt="#{t("views.about.rw_halal_scanner_app")}" src="#{asset_path('logo/gray.png')}"
            .text-overlay
              h3 RISK BASED AUDIT
          / h3 CORPORATE ACCOUNTING
          .card
            .card-body
          figcaption.mask
            h3 AUDIT
