li.portfolio-item
  =image_tag asset_path("#{image}"),class: 'img-responsive',alt: 'Portfolio image'
  figcaption.mask
    h3
      =heading
    p
      =description
  ul.external
    li
      a.fancybox data-fancybox-group="works" href="#{link_to_website}" title=("#{image_title}")
        i.fa.fa-search
    li
      a href=""
        i.fa.fa-link