/! portfolio section
section#developmentTeam
  .container
    .row
      .sec-title.text-center.wow.animated.fadeInDown
        h2 =t("views.development_team.dt_title")
        p =t("views.development_team.dt_details")
      ul.project-wrapper.wow.animated.fadeInUp
        -heading = 'Umair Liaqat'
        -description = 'Co-founder,RoR developer'
        =render partial: 'components/portfolio_list_item',locals: {image: 'portfolio/umair280.jpg', image_title: 'Co-founder',heading: heading,description: description,link_to_website: 'https://www.linkedin.com/in/umairliaquat'}

        -heading = 'Zain Rafique'
        -description = 'Partner,RoR developer'
        =render partial: 'components/portfolio_list_item',locals: {image: 'portfolio/zainraf.jpg', image_title: 'Partner',heading: heading,description: description,link_to_website: '#'}

        - heading = 'Adeel Anwar'
        - description = 'Partner,RoR Developer'
        = render partial: 'components/portfolio_list_item', locals: {image: 'portfolio/adeel.jpg', image_title: 'RoR developer', heading: heading, description: description, link_to_website: '#'}

        -heading = 'Kamran Khalid'
        -description = 'RoR Developer'
        =render partial: 'components/portfolio_list_item',locals: {image: 'portfolio/kamran.jpg', image_title: 'RoR developer',heading: heading,description: description,link_to_website: '#'}

        - heading = 'Tanveer Kayani'
        - description = 'Designer'
        = render partial: 'components/portfolio_list_item', locals: {image: 'portfolio/tanveer.jpg', image_title: 'Designer', heading: heading, description: description, link_to_website: '#'}

        - heading = 'Sabtain Mirza'
        - description = 'RoR Developer'
        = render partial: 'components/portfolio_list_item', locals: {image: 'portfolio/sabtain.jpg', image_title: 'RoR developer', heading: heading, description: description, link_to_website: '#'}

        - heading = 'Farooq Ch'
        - description = 'RoR Developer'
        = render partial: 'components/portfolio_list_item', locals: {image: 'portfolio/farooq.jpg', image_title: 'RoR developer', heading: heading, description: description, link_to_website: '#'}

        - heading = 'Ishtiaq'
        - description = 'Android Developer'
        = render partial: 'components/portfolio_list_item', locals: {image: 'portfolio/ishtiaq.jpg', image_title: 'Android Devloper', heading: heading, description: description, link_to_website: '#'}

      ul.project-wrapper.wow.animated.fadeInUp
        -heading = 'Mashhood Ahmad'
        -description = 'RoR Developer'
        =render partial: 'components/portfolio_list_item',locals: {image: 'portfolio/mashood.jpg', image_title: 'RoR Developer',heading: heading,description: description,link_to_website: '#'}
