/! Service section
section#service
  .container
    .row
      .sec-title.text-center
        .margin-div
        h2.wow.animated.bounceInLeft
          =t("views.service.service_title")
        p.wow.animated.bounceInRight
          =t("views.service.key_feature")
      .col-md-3.col-sm-6.col-xs-12.text-center.wow.animated.zoomIn
        .service-item
          .service-icon
            i.fa.fas.fa-usd.fa-3x
            / i.fa.fas.fa-coins.fa-3x
          h3 TAX CONSULTANCY
          / p
          /   ==t("views.service.ror_details")

      .col-md-3.col-sm-6.col-xs-12.text-center.wow.animated.zoomIn data-wow-delay="0.3s"
        .service-item
          .service-icon
            i.fa.fa-book.fa-3x
          h3 =t("views.service.design")
          / p
          /   ==t("views.service.design_details")
      .col-md-3.col-sm-6.col-xs-12.text-center.wow.animated.zoomIn data-wow-delay="0.6s"
        .service-item
          .service-icon
            i.fa.fa-briefcase.fa-3x
          h3 =t("views.service.integration")
          / p
          /   ==t("views.service.integration_details")
      .col-md-3.col-sm-6.col-xs-12.text-center.wow.animated.zoomIn data-wow-delay="0.9s"
        .service-item
          .service-icon
            i.fa.fas.fa-search-plus.fa-3x
          h3 =t("views.service.support")
          / p
          /   ==t("views.service.support_details")
/!service section ended
