section#home-slider
  #slider.sl-slider-wrapper
    .sl-slider
      .sl-slide data-orientation="horizontal" data-slice1-rotation="-25" data-slice1-scale="2" data-slice2-rotation="-25" data-slice2-scale="2"
        .bg-img.bg-img-1
        .slide-caption
          .caption-content
            h2.animated.fadeInDown =t("views.index.home_slider.elite_product")
            span.animated.fadeInDown =t("views.index.home_slider.premium")
            a.btn.btn-blue.btn-effect data-turbolinks="false" href="#contact"  =t("views.index.home_slider.join_us")
      .sl-slide data-orientation="vertical" data-slice1-rotation="10" data-slice1-scale="1.5" data-slice2-rotation="-15" data-slice2-scale="1.5"
        .bg-img.bg-img-2
        .slide-caption
          .caption-content
            h2 =t("views.index.home_slider.human_touch")
            span =t("views.index.home_slider.humanize")
            a.btn.btn-blue.btn-effect data-turbolinks="false" href="#contact"  =t("views.index.home_slider.join_us")
      .sl-slide data-orientation="horizontal" data-slice1-rotation="3" data-slice1-scale="2" data-slice2-rotation="3" data-slice2-scale="1"
        .bg-img.bg-img-3
        .slide-caption
          .caption-content
            h2 =t("views.index.home_slider.best_choice")
            span =t("views.index.home_slider.rapid_devlopment")
            a.btn.btn-blue.btn-effect data-turbolinks="false" href="#contact"  =t("views.index.home_slider.join_us")
      .sl-slide data-orientation="horizontal" data-slice1-rotation="3" data-slice1-scale="2" data-slice2-rotation="3" data-slice2-scale="1"
        .bg-img.bg-img-4
        .slide-caption
          .caption-content
            h2 =t("views.index.home_slider.best_choice")
            span =t("views.index.home_slider.rapid_devlopment")
            a.btn.btn-blue.btn-effect data-turbolinks="false" href="#contact"  =t("views.index.home_slider.join_us")
      .sl-slide data-orientation="horizontal" data-slice1-rotation="3" data-slice1-scale="2" data-slice2-rotation="3" data-slice2-scale="1"
        .bg-img.bg-img-5
        .slide-caption
          .caption-content
            h2 =t("views.index.home_slider.best_choice")
            span =t("views.index.home_slider.rapid_devlopment")
            a.btn.btn-blue.btn-effect data-turbolinks="false" href="#contact"  =t("views.index.home_slider.join_us")
    nav#nav-arrows.nav-arrows.hidden-xs.hidden-sm.visible-md.visible-lg
      a.sl-prev href="javascript:;"
        i.fa.fa-angle-left.fa-3x
      a.sl-next href="javascript:;"
        i.fa.fa-angle-right.fa-3x
    nav#nav-dots.nav-dots.visible-xs.visible-sm.hidden-md.hidden-lg
      span.nav-dot-current
      span
      span
        / ! /slider-wrapper
