/! Social section
section#social.parallax
  .overlay
    .container
      .row
        .sec-title.text-center.white.wow.animated.fadeInDown
          h2 FOLLOW US
          p Stay updated with latest trends and NEWS from Smartgentechnik
        ul.social-button
          li.wow.animated.zoomIn
            a href="https://fb.me/smartgentechnik"
              i.fa.fa-thumbs-up.fa-2x
          / li.wow.animated.zoomIn data-wow-delay="0.3s"
          /   a href="#"
          /     i.fa.fa-twitter.fa-2x
          / li.wow.animated.zoomIn data-wow-delay="0.6s"
          /   a href="#"
          /     i.fa.fa-dribbble.fa-2x
              /! end Social section
