/ header#navigation.navbar-inverse.navbar-fixed-top.animated-header
/   .container
/     .navbar-header
/       /! responsive nav button
/       button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button"
/         span.sr-only Toggle navigation
/         span.icon-bar
/         span.icon-bar
/         span.icon-bar
/       /! /responsive nav button
/       /! logo
/       h1.navbar-brand
/         =link_to 'http://smartgentechnik.com/' do
/           = image_tag asset_path('logo/smt2.png'), class: 'img img-thumbnail logo ', alt: "member"
/
/         / a href="#body"  Blue
/
/     /! /logo
/     /! main nav
/     nav.collapse.navbar-collapse.navbar-right role="navigation"
/       ul#nav.nav.navbar-nav
/         li#home_body
/           a href="#"  Home
/         li#service_body
/           a href="#"  Service
/         li#about_us
/           a href="#"  Portfolio
/         li#team
/           a href="#"  Development Team
/         li#contact_us
/           a href="#"  data-turbolinks="false" Contact
/
//javascript:
//  $('#contact_us').on('click',function(){
//      var w = window.open('/#contact');
//  });
//  $('#home_body').on('click', function () {
//    window.open('/#body');
//  });
//  $('#service_body').on('click', function () {
//    window.open('/#service');
//  });
//  $('#about_us').on('click', function () {
//    window.open('/#portfolio');
//  });
//  $('#team').on('click', function () {
//    window.open('/#about');
//  });