section#home-slider
  #slider.sl-slider-wrapper
    .sl-slider
      .sl-slide data-orientation="horizontal" data-slice1-rotation="-25" data-slice1-scale="2" data-slice2-rotation="-25" data-slice2-scale="2"
        .bg-img.bg-img-4
        .slide-caption
          .caption-content.custom-content
            span Recommend Us To A Client And Get 15% Or More of Project Cost
            a.btn.btn-blue.btn-effect.j-contact data-turbolinks="false" href="#{root_path}#contact"  Contact US
