section#client
  .container
    .row
      .margin-div
      .sec-title.text-center.wow.animated.fadeInDown
        h2 = t('views.testimonial.title')
    .row#clientstatment.owlCarousel
      .item
        / .card-header
        /   / h3
        /   /   | MASS DYNAMICS(UK)
        .card
          / .card-c[style="background-image: url(#{url_for client_feedback.image.variant(combine_options: {resize: '600>', background: 'black', gravity: 'center'})})"]
          .card-c[style="background-image: url(#{asset_path('testimonials/mass_Dynamics.png')})"]
          .text-t-card
            h1
              | MASS DYNAMICS(UK)
            p
              | We are customers since 2016 and are quite pleased with the professionalism of the whole team at ABSM Accounting. Their response is very timely and they don't leave any loose ends. This company is full of knowledgeable and ethical people and because of them, we feel that we are in good hands.
      .item
        .card
          / .card-c[style="background-image: url(#{url_for client_feedback.image.variant(combine_options: {resize: '600>', background: 'black', gravity: 'center'})})"]
          .card-c[style="background-image: url(#{asset_path('testimonials/rwawaan_technologies.jpg')})"]
          .text-t-card
            h1
              | RAWAAN TECHNOLOGIES
            p
              | ABSM accounting is so far the best company for us. If you are looking for some company that deals with you and treats you with respect and always answers your queries patiently then yes, we’d definitely recommend it.
      .item
        .card
          / .card-c[style="background-image: url(#{url_for client_feedback.image.variant(combine_options: {resize: '600>', background: 'black', gravity: 'center'})})"]
          .card-c[style="background-image: url(#{asset_path('testimonials/ahmad_system.png')})"]
          .text-t-card
            h1
              | AHMAD SYSTEMS
            p
              | We got out personal and business taxes handled by ABSM Accounting and till date, we are quite satisfied with the services they offer. They are extremely professional in their dealings and they won’t turn you unsatisfied, no matter what!
      .item
        .card
          / .card-c[style="background-image: url(#{url_for client_feedback.image.variant(combine_options: {resize: '600>', background: 'black', gravity: 'center'})})"]
          .card-c[style="background-image: url(#{asset_path('testimonials/Focal_Maven.jpg')})"]
          .text-t-card
            h1
              | ZEC ENTERPRISES
            p
              | Extremely helpful and supportive. We’ve already recommended another company to use ABSM Accounting.
      .item
        .card
          / .card-c[style="background-image: url(#{url_for client_feedback.image.variant(combine_options: {resize: '600>', background: 'black', gravity: 'center'})})"]
          .card-c[style="background-image: url(#{asset_path('testimonials/nps.jpg')})"]
          .text-t-card
            h1
              | NEOTERIC PARKING SOLUTIONS
            p
              | Highly impressed with ABSM Accounting. This is going to be our all-time favourite company when it comes to auditing and dealing with tax matters. If you want to be in good hands, we’d recommend you to try them.