/ ! Testimonial section
section#testimonials.parallax
  .overlay
    .container
      .row
        .sec-title.text-center.white.wow.animated.fadeInDown
          h2 What people say
        #testimonial.wow.animated.fadeInUp
          -title = 'Katty Flower'
          -description='WE worked with this company and we feel proud to have such partner'
          =render partial: 'components/testimonial_item',locals: {image: 'member-1.jpg',title: title, description: description }

          - title = 'Katty Flower'
          - description = 'WE worked with this company and we feel proud to have such partner'
          = render partial: 'components/testimonial_item', locals: {image: 'author.jpg', title: title, description: description}

