=render partial: 'components/slider'
=render partial: 'components/service_section'
/ =render partial: 'components/portfolio_section'
=render partial: 'components/portfolio_section_x'
=render partial: 'components/about_section'
=render partial: 'components/testimonial_custom'
/ =render partial: 'components/testimonial_section'
/testimonial have issues in mobile version

/ =render partial: 'components/social_section'
=render partial: 'components/contact'
/ =render partial: 'components/google_map'



