doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    = display_meta_tags site: I18n.t('views.site_name')
    meta content=("Addul Samad") name="author"
    = csrf_meta_tags
    = favicon_link_tag asset_path('logo/favicon_ico.ico')
    / = javascript_include_tag 'http://maps.google.com/maps/api/js?key=AIzaSyCmQEKskSRXjunZQ_HcntmGX5Kf2nnqqGw&callback=init'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    meta name="google-site-verification" content="03Ma2ijy1d_CCBEBx446BQcVui4KLyykseIKIGPSH54"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"



  body#introduction
    / = render 'components/loader'
    - if action_name == "term_and_cond"
      = render partial: 'components/term_and_cond_header'
    - else
      = render partial: 'components/header'
    / = javascript_include_tag 'facebook_messenger'
    main.site-content role="main"
      .layout
        = render 'toastr_rails/flash'
        = yield
      / .fb-customerchat page_id="#{ENV['FB_PAGE_ID']}"
    = render partial: '/components/footer'